* {
    box-sizing: border-box;
}

.tittle {
    background-color: pink;
    color: white;
}

.p1 {
    color: yellow;
}

.p2 {
    color: lawngreen;
}

.p3 {
    color: cyan;
}

.border1{
    content: 70px;
    height: 25px; 
    background-color: white;
    padding: 50px; background-color: white;
    border: 5px solid orange;

}

.color{
    background-color: gray;
}

p{
    color: white;
}